Package: com.kabiroberai.swift-toolchain
Name: swift-toolchain
Section: Development
Architecture: iphoneos-arm
Description: Swift toolchain cross-compiled for iOS
Author: Kabir Oberai <support@kabiroberai.com>
Maintainer: Kabir Oberai <support@kabiroberai.com>
Depends: firmware (>= 10.0), cy+cpu.arm64, ${SWIFT_VERSION}
